.event_cover_image {
	width: 100%;
}

.event_date {
	border: 1px solid #eee;
	border-radius: 6px;
	text-align: center;
	background: #eee;
	padding: 10px;
}

.event_brief_details {
	color: gray;
	font-size: 12px;
}

.event_brief_separator {
	margin: 0 5px;
}

.register_button {
	float: right;
	padding-left: 40px !important;
	padding-right: 40px !important;
	margin: 12px 0 !important;
}

.event_page_header {
	border-bottom: 1px solid teal !important;
}

#venue_map {
	width: 100%;
    height: 300px;
    background-color: #eee;
}

.icon.twitter.share {
	color: rgb(85, 172, 238);
}

.icon.facebook.share {
	color: rgb(59, 89, 152);
}

.share-icons {
	margin-right: 50px;
}
